---
layout: default
---
<main class="content" role="main">
    <article class="post single-post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header short-diver">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <section class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: '%Y %b %-d' -%}
    
                    {%- if page.last_modified_at -%}
                        Last updated: {{ page.last_modified_at | date: date_format }}
                    {%- else -%}
                        Published: {{ page.date | date: date_format }}
                    {%- endif -%}
                </time>
                , tags:
                {% for tag in page.tags limit:5 %}
                <span>{{ tag }}</span>
                {% endfor %}
            </section>
        </header>

        <section class="post-content short-diver" itemprop="articleBody">
            {% include toc.html html=content %}
            {{ content }}
        </section>

        <footer class="post-footer">
            {% include authorinfo.html param=page.author %}
            <p class="post-meta">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                Originally published on: {{ page.date | date: date_format }}
                </time>
            </p>
        </footer>

        {% if page.comments %}
        <div class="comments">
            <a href="javascript:;" class="view-comments hide-on-click"><i class="fa fa-comments"></i>View Comments...</a>
            <a href="javascript:;" class="comment-error hide-on-click">Failed to load comments. Please check Tracking settings for this site. Click to dismiss</a>
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
                this.page.url = "{{ page.url | absolute_url }}";
                this.page.identifier = "{{ page.id }}";
            };
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        {% endif %}

    </article>
</main>

{% include photoswipe.html %}
{% include post_scripts.html %}
